.h1pg1{
    background-color: rgb(234, 229, 229);
    
}
body{
    background-color: rgb(171, 179, 186);
}
.artpg1{
    background-color: rgb(246, 246, 246);
}
.ppg1{
    background-color: rgb(246, 246, 246);
}
.h2pg1{
    background-color: rgb(234, 229, 229);
}
.ulpg1{
    background-color: rgb(246, 246, 246);
}