.h1pg2{
    background-color: rgb(234, 229, 229);
}
body{
    background-color: rgb(171, 179, 186);
}
.artpg2{
    background-color: rgb(246, 246, 246);
}
.ppg2{
    background-color: rgb(246, 246, 246);
}
.h2pg2{
    background-color: rgb(234, 229, 229);
}
.ulpg2{
    background-color: rgb(246, 246, 246);
}