.h1pg3{
    background-color: rgb(234, 229, 229);
}
body{
    background-color: rgb(171, 179, 186);
}
.artpg3{
    background-color: rgb(246, 246, 246);
}
.ppg3{
    background-color: rgb(246, 246, 246);
}
.h2pg3{
    background-color: rgb(234, 229, 229);
}
.ulpg3{
    background-color: rgb(246, 246, 246);
}